# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Variable files
*.tfvars
!terraform.tfvars.example

# OS files
.DS_Store
*.swp
*.swo
*~

# IDE files
.idea/
*.iml
.vscode/

# SSH keys
*.pem
*.pub
id_rsa
id_rsa.pub
task2-key*

# Logs
*.log
crash.log
